.major-grid {
  display: grid;
  grid-template-columns: 1rem auto 1rem;
  grid-template-rows: 5rem auto auto;
  grid-template-areas:
    "header header header"
    "main main main"
    "footer footer footer";
  grid-gap: 3rem 1rem;
  h1 {
    grid-area: header;
  }

  .footer {
    grid-area: footer;
    display: grid;
    grid-template-columns: 10rem minmax(max-content, 5rem) 1fr minmax(max-content, 5rem) 10rem;
    grid-template-rows: auto;
    grid-gap: 1rem;
    align-items: center;
    a {
      grid-area: 1 / 2 / 2 / 3;

      font-size: 0.9rem;
      text-transform: uppercase;
      letter-spacing: 0.2em;
      line-height: 1.6;
      font-weight: 600;
      color: $dark;
      &:hover {
        text-decoration: none;
        color: $black;
      }
    }
    p {
      grid-area: 1 / 3 / 2 / 4;
      &+a {
        grid-area: 1 / 4 / 2 / 5;
      }
    }
  }

  p {
    grid-area: footer;
    font-size: 1rem;
    line-height: 140%;
  }

  @include desktop {
    grid-template-columns: 10rem auto 10rem;
  }
}

.item {
  border: solid $dark 2px;
  background-color: $red;
  font-size: 1.2rem;
  text-align: left;
  padding: 0.5rem;
  p {
    color: rgba($white, 0.9);
    font-weight: bold;
    &+p {
      color: rgba($white, 0.7);
      font-weight: normal;
    }
  }
}
